.btn {
  --color: var(--color-action);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  color: white;
  background-color: var(--color);
  border: 2px solid var(--color);
  cursor: pointer;
  display: flex;
  align-items: center;

  transition: {
    property: color, background-color, border-color;
    duration: 0.1s;
  }

  &:not(:disabled):hover {
    background-color: transparent;
    border-color: var(--color);
    color: var(--color);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.-warning {
    --color: var(--color-warning);
  }

  &.-secondary {
    --color: rgb(112, 112, 112);
  }

  &-group {
    display: flex;
    gap: 1rem;
    width: 100%;
  }

  &.-inline {
    width: unset;
  }

  // force some of the react icons to use color value as its primary colour
  .force-stroke path {
    stroke: inherit;
  }
}
.btn-group {
  .btn:first-child {
    margin-left: auto;
  }

  &.-merged {
    flex-direction: row;
    gap: 0;

    .btn:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:focus {
        border-right-color: var(--color-action);
      }
    }

    .btn:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
